body {
    background: lightgray;
}

.gif-render {
    float: left;
}

.gif {
    margin: 5px;
    background: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

.gif-render {
    margin: 10px;
}

#add-gif {
    margin-top: 5px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.fa-heart {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    color: turquoise;
    cursor: pointer;
}

.fa-download {
    position: absolute;
    top: 10px;
    left: 45px;
    z-index: 1;
    color: lightgray;
    cursor: pointer;
}

#favorite-words {
    margin-top: 10px;
}

.favGif {
    margin-top: 10px;
}

#clear-faves {
    margin-top: 5px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}